.postBg{
    background-color: rgba(200, 28, 255, 0.1);
}

.delete-icon {
    margin-left: -5px;   
}

.delete-icon:hover {
    cursor: pointer;   
}

.delete-span:hover {
    cursor: pointer;   
}

// .hrPostContent{
//     border-color: black !important;
// }