.postBg{
    background-color: rgba(200, 28, 255, 0.1);
}

// .hrPostContent{
//     border-color: black !important;
// }
.editPostBtn{
    position: relative;
    width: 35vh;
    height: 5vh;
    background-color:transparent;
    color: #0d6efd;
  }